.git
.gitignore
.github

vendor
node_modules
public/build

.env
.env.example
.env.railway
.env.backup
.env.production

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

nixpacks.toml
Dockerfile
.dockerignore
render.yaml
README.md

.idea
.vscode
.fleet
